{% extends 'base.html'%} {% load static%}

<link rel="stylesheet" href="{% static 'home/styles.css'%}" />

<div id="header-text-container">
  {%block content%}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h5 style="margin-top: 150px;">
          Welcome to the cyber security blogging page.
        </h5>
      </div>
      <div class="col-md-4">
        <img
          class="my-photo"
          src="{% static 'home/images/mwas.jpg' %}"
          alt="mwas photo"
        />
      </div>
    </div>
  </div>

  {% endblock%}
</div>
