body {
  background-color: #000;
  color: white;
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
}
.mycontainer {
  color: red;
}
.navbar {
  border-bottom: 1px solid gray;
}
.my-photo {
  width: 250px;
  height: 240px;
  margin-top: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.home-text {
  white-space: nowrap;
  overflow: hidden;
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}
@keyframes animated-text {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
